//FONTS
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', sans-serif;

//COLORS
$mainColor: #FFFFFF;
$secondaryColor: #8D81AC;
$textDescriptionColor: #848E97;
$textSecondaryColor: #323232;
$backgroundColorGrey: #F4F4F4;