.editor-section {
  padding: 129px 0 70px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    color: $textDescriptionColor;
    font-size: rem(54);
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 861px;
    line-height: 32px;
    text-align: center;
    font-family: $secondaryFont;
    font-size: rem(21);
    margin-bottom: 13px;
    color: $textSecondaryColor;
  }

  &__list {
    display: flex;

    li {
      float: left;
      margin: 0 8px 0 0;
      font-size: 12px;
      list-style-type: none;
    }

    a {
      display: flex;
      user-select: none;
      border: 1px solid;
      border-radius: 6px;
      align-items: center;
      padding: 0 12px;
      min-height: 28px;
      max-height: 28px;
      font-size: 12px;
      line-height: 20px;
      color: #24292f;
      background-color: #f6f8fa;
      border-color: rgba(27, 31, 36, 0.15);
      box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
      transition-property: color, background-color, box-shadow, border-color;
    }

    svg {
    }

    span {
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 2em;
      color: #24292f;
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      height: 20px;
      min-width: 20px;
      padding: 0 6px;
      text-align: center;
      background-color: rgba(27, 31, 36, 0.08);
      margin-left: 2px;
    }
  }

  &__icon {
    margin-right: 4px;
  }

  &__drop-down {
    display: flex;
    height: 28px;
    align-items: center;
    padding-left: 4px;
    margin-right: -4px;
    margin-left: 12px;
    border-left: 1px solid rgba(27, 31, 36, 0.15);
  }
  @media (max-width: 992px) {
    &__title {
      font-size: rem(42);
    }
    &__text {
      margin-bottom: 24px;
    }
    &__list {
      display: flex;
      margin-bottom: -10px;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: rem(26);
      margin-bottom: 27px;
    }
    &__text {
      margin-bottom: 36px;
      font-size: 14px;
      line-height: 20px;
    }
    &__list {
      display: flex;
      margin-bottom: -10px;
      flex-wrap: wrap;
      justify-content: center;
      a {
        margin-bottom: 20px;
      }
    }

  }
}
