.header {
  position: relative;
  background: url(../img/hero-bckg-img.png) no-repeat center center;
  background-size: cover;
  height: 800px;
  text-align: center;
  min-width: 320px;

  &__title {
    margin-top: 112px;
    font-weight: 700;
    font-size: rem(82);
    color: $mainColor;
  }

  &__subtitle {
    margin-top: 19px;
    font-family: $secondaryFont;
    font-size: rem(30);
    color: $secondaryColor;
  }

  &__description {
    margin-top: 19px;
    text-transform: uppercase;
    color: $textDescriptionColor;
  }

  &__trial-text {
    position: absolute;
    width: 100%;
    bottom: -62px;
    transform: translate(-50%, 50%);
    font-size: rem(14);
    line-height: rem(15);
    color: #848E97;
  }
}

.top-menu {
  @include flex();
  column-gap: 48px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.logo {
  position: relative;
  display: flex;
  column-gap: 17px;
  margin-right: auto;
  align-items: center;
  color: $secondaryColor;

  &__title {
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: rem(24);
    line-height: 16px;
    text-transform: uppercase;
    transition: all .3s;
  }

  &__img {
    transition: all .3s;
  }

  &__img-hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .3s;
  }

  &:hover {
    .logo__title {
      color: $mainColor;
    }

    .logo__img {
      opacity: 0;
    }

    .logo__img-hover {
      opacity: 1;
    }
  }
}

.menu {
  @include flex();
  column-gap: 48px;

  @media (max-width: 536px) {
    justify-content: space-between;
    column-gap: unset;
  }

  &__item {
    color: $secondaryColor;
    font-weight: bold;
    line-height: 17px;
    transition: all .3s;

    &:hover {
      color: $mainColor;
    }
  }
}

.burger {
  display: none;
}

.button {
  background: #8D81AC;
  border-radius: 40px;
  color: $mainColor;
  padding-block: 11px;
  font-weight: bold;
  line-height: 17px;
  width: 145px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;

  &--download {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 390px;
    padding-block: 23px;
    transform: translate(-50%, 50%);
    font-size: rem(21);
    line-height: rem(22);
  }

  &:hover {
    background-color: $mainColor;
    color: $secondaryColor;
  }
}

@media (max-width: 992px) {
  .header {
    .container {
      background-clip: content-box;
      box-shadow: inset 0 0 0 10px #27262A;
    }

    &__title {
      margin-top: 69px;
      font-size: rem(72);
    }

    &__subtitle {
      font-size: rem(24);
    }

    &__description {
      font-size: rem(14);
    }
  }


  .top-menu {
    row-gap: 22px;
    background: #27262A;
  }

  .logo {
    flex-grow: 0;
  }

  .menu {
    order: 1;
    flex-basis: 100%;
    padding-bottom: 18px;
  }
}

@media (max-width: 480px) {
  .top-menu {
    padding-bottom: 30px;
    justify-content: space-between;
    position: relative;
  }

  .menu {
    display: none;
    position: absolute;
    flex-direction: column;
    align-content: flex-start;
    top: 102px;
    left: 13px;
    right: 15px;
    background: #333333;
    box-sizing: border-box;

    &__item {
      position: relative;
      font-size: rem(26);
      font-weight: normal;
      color: $mainColor;
      padding-left: 39px;
      padding-block: 38px 29px;
      border-bottom: 3px solid #3b3b3b;
      cursor: pointer;
      width: 100%;
      text-align: start;

      &:active {
        color: $secondaryColor;

        &:after {
          content: "";
          border-left: 8px solid #8D81AC;
          position: absolute;
          top: 19px;
          bottom: 16px;
          left: 0;
        }
      }
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: flex-end;
    cursor: pointer;
  }

  .logo {
    margin-right: unset;

    &__title {
      display: none;
    }
  }

  .header {
    height: 718px;

    &__title {
      margin-top: 50px;
      font-size: rem(48);
    }

    &__subtitle {
      font-family: $mainFont;
      font-size: rem(18);
      line-height: rem(24);
      padding-inline: 5px;
    }
  }

  .button {
    font-size: rem(15);
    width: 120px;

    &--download {
      font-size: rem(18);
      line-height: rem(20);
      padding-block: 15px;
      width: 290px;
    }
  }

  .menu.active {
    display: flex;
    pointer-events: all;
  }
}