.prices-section {
  background-image: url(../img/background-prices.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 132px 0 100px;
  color: #FFFFFF;

  &__title {
    font-family: $mainFont;
    font-weight: 700;
    font-size: rem(48);
    line-height: rem(50);
    text-align: center;
    margin-bottom: 61px;
  }

  &__table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 30px;

    div + div {
      margin-left: 15px;
    }

    &-item {
      min-width: 257px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(255, 255, 255, 0.11);

    }

    &-header {
      font-family: $mainFont;
      font-weight: 400;
      font-size: rem(24);
      line-height: 1;
      padding: 36px 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      background: $mainColor;
      mix-blend-mode: normal;
      background: rgba(255, 255, 255, 0.06);
      margin-bottom: 30px;
    }

    &-price {
      font-size: rem(60);
      text-transform: uppercase;
      margin-bottom: 20px;

      b {
        font-weight: 700;
      }
    }

    &-text {
      font-size: rem(14);
      line-height: rem(16);
      text-align: center;

      &--uppercase {
        text-transform: uppercase;
      }

      &--large {
        font-size: rem(16);
        line-height: rem(18);
        min-height: rem(44);
      }
    }

    &-divider {
      width: 60px;
      height: 5px;
      background: $secondaryColor;
      margin: 38px 0 36px;
    }

    &-cta {
      margin: 36px 0 37px;
      width: 163px;
      height: 45px;
      background: rgba(255, 255, 255, 0.15);
      font-size: rem(15);
      text-align: center;
      text-transform: uppercase;
      color: $mainColor;
      border-radius: 40px;
    }

    &-item--active {
      width: 299px;
      background: rgba(70, 48, 72, 0.84);
      opacity: 0.84;

      .prices-section__table-header {
        background: rgba(0, 0, 0, 0.11);
        padding: 43px 0;
        margin-bottom: 14px;
      }

      .prices-section__table-divider {
        margin: 46px 0 40px;
      }

      .prices-section__table-cta {
        width: 190px;
        height: 52px;
      }

      .prices-section__table-cta {
        margin-top: 83px;
      }

      .prices-section__table-price {
        font-size: 82px;
      }


    }


  }

  @media (max-width: 992px) {
    &__title {
      font-family: $mainFont;
      font-weight: 700;
      font-size: rem(42);
      line-height: rem(44);
      text-align: center;
      margin-bottom: 61px;
    }
    &__table {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 30px;

      div + div {
        margin-left: 25px;
      }

      .prices-section__table-item--active {
        margin-left: 118px;
        position: relative;
        right: 79px;
      }

      .prices-section__table-item--enterprise {
        position: relative;
        left: -80px;
      }


    }

  }
  @media (max-width: 735px) and (min-width: 481px) {
    &__table {
      width: 735px;
      margin-left: -18px;
    }
    &__title {
      width: 735px;
      font-family: $mainFont;
      font-weight: 700;
      font-size: rem(42);
      line-height: rem(44);
      text-align: center;
      margin-bottom: 61px;
    }
  }
  @media (max-width: 480px) and (min-width: 150px) {
    &__title {
      font-family: $mainFont;
      font-weight: 700;
      font-size: rem(28);
      line-height: rem(42);
      text-align: center;
      margin-bottom: 61px;
    }
    &__table {

      div + div {
        margin-left: 0;
      }

      .prices-section__table-item--active {
        min-width: 299px;
        margin-left: 118px;
        position: relative;
        right: 64px;
      }

      .prices-section__table-item--enterprise {
        position: relative;
        left: 0;
      }

    }
  }
}

