.what-you-get-section {
  background-color: $backgroundColorGrey;
  padding: 98px 0 30px;
  @media (max-width: 992px) {
    background-color: $mainColor;
    padding: 98px 0 30px;
  }

}

.what-you-get {
  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 74px;
  }

  &__grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__grid-item-2 {
    grid-column: 2;
    grid-row: 1;
  }

  &__grid-item-3 {
    position: relative;
    grid-column: 2;
    grid-row: 1;

    img {
      position: absolute;
      top: 63px;
      left: -19px;
    }
  }

  &__title {
    font-family: $mainFont;
    font-size: rem(48);
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0;
    text-align: center;
    color: $secondaryColor;
    margin-top: -4px;
  }

  &__list {
    display: flex;
    max-width: 525px;
    height: 111px;
    justify-content: space-between;
    margin-bottom: 35px;

    h4 {
      font-family: $mainFont;
      font-size: 16px;
      line-height: 21px;
      color: $textSecondaryColor;
      margin-bottom: 17px;
    }

    p {
      font-family: $mainFont;
      font-size: 14px;
      line-height: 21px;
      color: $textDescriptionColor;
    }

    img {
      margin-top: 10px;
    }

  }

  &__image {
    min-width: 111px;
    margin-right: 25px;

  }

  @media (max-width: 992px) {

    &__grid {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .what-you-get__grid-item-2 {
        display: flex;
        order: -1;
        margin-bottom: 54px;
      }

    }
    &__grid-item-3 {
      position: relative;
      grid-column: 2;
      grid-row: 1;

      img {
        position: relative;
        top: 26px;
        left: 25px;
        bottom: 0;
      }
    }
    &__title {
      font-family: $mainFont;
      font-size: rem(42);
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0;
      text-align: center;
      color: $secondaryColor;
      margin-top: -4px;
    }
  }
  @media (max-width: 480px) {

    &__grid {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .what-you-get__grid-item-2 {
        display: flex;
        order: -1;
        margin-bottom: 54px;
      }

    }
    &__grid-item-3 {
      position: relative;
      grid-column: 2;
      grid-row: 1;

      img {
        position: relative;
        top: 26px;
        left: 25px;
        bottom: 0;
      }
    }
    &__title {
      min-width: 230px;
      text-align: center;
      font-family: $mainFont;
      font-size: rem(32);
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0;
      color: $secondaryColor;
      margin-top:-65px;
      margin-bottom: -14px;
    }
    &__list {
      display: flex;
      max-width: 270px;
      height: 206px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 70px;
      text-align: center;

      img {
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 21px;
      }
    }
    &__grid-item-3 {
      position: relative;
      grid-column: 2;
      grid-row: 1;

      img {
        position: relative;
        top: 26px;
        left: 60px;
        bottom: 0;
      }
    }
  }
}