@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: $mainFont;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 10px;

  @media (max-width: 480px) {
    min-width: 320px;
  }
}


@import './sections/main';